<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>퀴즈 페이지</title>
</head>
<body>
    <div class="container">
        <h1>퀴즈 페이지</h1>
        
        <!-- 버튼 컨테이너 추가 -->
        <div class="button-container">
            <button onclick="startQuiz()">문제 풀러가기</button>
            <button onclick="addQuiz()">퀴즈 추가</button>
        </div>
    </div>

    <script>
        function startQuiz() {
            window.location.href = '/quiz/first';  
        }

        function addQuiz() {
            window.location.href = '/quiz/quizAdd';  
        }
    </script>
</body>
</html>
